@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-style: var(--font-style);
}

html {
  scroll-behavior: smooth;
  background: var(--background);
}




