@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-style: var(--font-style);
}

body {
  background: var(--background);
  color: var(--foreground);
}
